/* 
 * Add your own CSS code for the WYSIWYG editor 
 */
/*
 * Put your custom CSS code here
 */

.top {
  padding-top: 1rem;
  flex-direction: column;
}

.top img {
  width: 113px;
}

.top .lbg-name {
  font-family: FiraVa, sans-serif;
  font-weight: 700:
  font-size: 28px;
}

.top .lbg-moto {
  font-family: serif;
  font-size: 20px;
}

.top .lbg-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  /* width: 100%; */
}

.navbar .navbar__menu {
  justify-content: space-between;
}

.navbar .navbar__menu li a {
  font-size: 20px;
  line-height: 41px;
}

.navbar .navbar__submenu li a {
  padding: 0;
}

.navbar .navbar__menu > li:hover > a,
.navbar .navbar__menu > li.active > a,
.navbar .navbar__menu > li.active-parent > a,
.navbar .navbar__submenu > li.active > a {
  color: #0099ff;
}

.two-third-columns {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.two-third-columns > :nth-child(1) {
  flex-basis: 33%;
}

.two-third-columns > :nth-child(2) {
  flex-basis: 66%;
}

.people-card {
	display: flex;
	gap: 5rem;
	margin-bottom: 2em;
	background: var(--lighter);
	padding: 1rem;
	border-radius: 1rem;
	position: relative;
	min-height: 30ex;
	overflow: hidden;
  z-index: 0;
}

.people-card::before {
	content: "";
	background-color: var(--color, var(--dark));
	width: 8em;
	display: block;
	margin: -1rem 0 -1rem -1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.people-card > svg,
.people-card > img {
	position: absolute;
	width: 10em;
	height: 10em;
	top: 6.4em;
	left: 6.4em;
	transform: translate(-50%, -50%);
	z-index: 2;
  filter: grayscale();
  border: 6px solid white;
  border-radius: 1000px;
}

.people-card h2 {
  margin-top: 0;
  font-size: 1.4rem;
}

.hero--noimage::after {
  display: none;
}

.hero__content {
  padding: 0;
}

.msg--warning {
	border-left-color: var(--warning-color);
	background-color: #fde8e7;
}

.msg--info {
	border-left-color: var(--info-color);
	background-color: #e6f3fe;
}

.msg--highlight {
  border-left-color: var(--highlight-color);
	background-color: #fff9e5;
}

section.box {
  box-shadow: 0 1px 4px rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  padding:1rem;
  align-items: center;
  margin:1rem auto;
  gap: 1rem;
}

section.box h1 {
  margin:0;
}

section.box > ul {
  margin:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.box > ul li {
  margin:0;
  padding: 0;
}

.content__entry a.link-button {
	color: white !important;
	text-decoration: none !important;
	background: #36afff;
	display: inline-block;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	min-width: 12em;
	text-align: center;
	margin: 0.25rem;
	font-weight: bold;
	transition: background ease 400ms;
}

.content__entry a.link-button:hover {
  background: #268acd;
}